@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --blue-primary: #0369a1;
        --border: #555;
        --hover: #333;
    }

    html,
    body {
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #eee;
        background-color: #1a1a1a;
        scrollbar-gutter: stable both-edges;
        overflow: auto;
    }

    h1 {
        font-family: 'Lora', serif;
    }

    .loading {
        opacity: 0.25;
        transition: opacity 0.2s;
        transition-delay: 0.2s;
    }
}
